body {
    color: #fff; /*Цвет текста на странице*/
    font-size: 16px;
    line-height: 1.42;    
    font-family: 'Open Sans', sans-serif;
    background: #17191C; 
       
}
.mail-page-wrapper {
    background-size: 100%; /*фоновое изображение на весь размер окна браузера*/
    background:  url(./img/fon1.png) center top no-repeat, url(./img/fon2.png) center bottom no-repeat;
    
}

a {
    color: inherit; /* цвет шрифта от родителя (body) */
}

ul {
    padding: 0;
    margin: 0;
} /* Сброс стандартных отступов у списка) */

ul li {
    list-style: none;
} /* Сброс стиля отображения списка (отключили точки у списка на каждой строчке) */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
} /* сброс внешних отступов у загаловков и установка ширины букв в шрифте */
p {
    margin-top: 0;
}

* {
    box-sizing: border-box; /* фикисрованный размер блока, что бы текст не растягивал блок */
}

.container {
    margin: 0 auto;
    width: 1140px;
} /* положение и относительные размеры сайта на странице */

.header {
    height: 128px; /* высота шапки */
    position: relative; /* относительно этой позиции будет зависеть расположение блоков absolut */
    margin-bottom: 102px; /* внешний отступ нижней границы блока relative */
} 

.logo {
    display: block;
    position: absolute;
    top: 14px;
    left: 0;    
}

.menu {
    position: absolute;
    top: 30px;
    left: 435px;
}

.contacts {
    position: absolute;
    top: 18px;
    right: 0;
    text-align: right;
}
.contacts__desc {
    display: block;
    font-size: 13px;
    text-decoration: underline; /* установили декоративное подчеркивание текста */
    color: #FF3D00;
}

.menu__item {
    display: inline-block; /*строение блоков меню в линию */
    vertical-align: middle; /* выравнивание блоков относительно серидины */
    margin-right: 50px;
}

.menu__link {
    font-size: 14px;
    text-decoration: none; /* отключили подчеркивание у ссылок */
}
.menu__link:hover {
    color: #FF3D00; /* изменение цвета текста при наведении */
}

.phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;    
}

.contacts__hours {
    display: block;
    font-size: 13px;
    text-decoration: underline; /* установили декоративное подчеркивание текста */
    color: #FF3D00;
}

.preview {
    width: 776px;
    margin: auto;
    margin-bottom: 267px;
}

.preview__title {
    text-transform: uppercase; /* текст стал весь заглавными буквами */
    font-size: 72px;
    font-weight: bold; /* текст стал жирным */
    line-height: 1.3; /* межстрочный интервал */
    margin-bottom: 18px;
    text-align: center; /* выравнивание текста в строчном стиле относительно центра */
}

.preview__description {
    font-size: 18px;
    color: #dfb56d;
    margin-bottom: 45px;
    text-align: center;
}

.preview__btn__button {
    display: block; /* задали блочный стиль */
    margin: auto; /* центрировали блок на странице */
    background: #fff; 
    border-radius: 35px; /* закругление углов у блока */
    padding: 18px 50px; /* расположение текста в блоке с по внутренним отступам */
    color: #FF3D00;
    font-weight: bold; /* жирный шрифт */
    text-transform: uppercase; /* текст стал весь заглавными буквами */
    text-decoration: none; /* отключили подчеркивание у ссылок */
}

.preview__btn__button:hover {
    background: #FF3D00; /* изменение цвета кнопки при наведении */
    color: #fff;
}

.services {
    margin-bottom: 138px;
}

.services__btn {
    background: #fff; 
    border-radius: 35px; /* закругление углов у блока */
    padding: 18px 50px; /* расположение текста в блоке с по внутренним отступам */
    color: #FF3D00;
    font-weight: bold; /* жирный шрифт */
    text-transform: uppercase; /* текст стал весь заглавными буквами */
    text-decoration: none; /* отключили подчеркивание у ссылок */
    margin-left: 7px;
}
.services__btn:hover {
    background: #FF3D00; /* изменение цвета кнопки при наведении */
    color: #fff;
}

.services__item {
    display: inline-block;
    margin-right: 20px;
    min-height: 478px;
    background: #fff;
    width: 362px;
    color: #000;
}
.services__item:last-child {
    margin-right: 0px;
}

.services__item__header {
    min-height: 100px;
    margin-bottom: 16px;
}

.services__item__content {
    padding: 0px 22px;
    
}
.services__about {
    color: #666666;
}
.services__discription {
    height: 100px;
    color: #666666;
}

.services__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 13px;
}

.services__about1 {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    height: 41px;
    margin-right: 47px;
    margin-bottom: 25px;
    
    
}
.services__about1:last-child {
    margin-right: 0px;
}

.services__discription {
    margin-bottom: 0px;
}

.services__img {
    width: 76px;
    margin-left: 30px;
    margin-top: 30px;

}

.news__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 557px;
    height: 394px;    
}

.news__item-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__text-content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 25px 30px;
    min-height: 140px;
}

.news__data {
    font-size: 14px;
    margin-bottom: 20px;
}
.section__title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.news_title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 5px;
}

.news__item {
    margin-right: 20px;
}
.news__item:last-child {
    margin-right: 0px;
}

.news {
    margin-bottom: 55px;
}

.pager {
    text-align: center;
    margin-bottom: 147px;
}
.pager__display,.pager__list {
    display: inline-block;
    vertical-align: middle;
}
.pager__display {
    margin-right: 26px;
}
.pager__item {
    display: inline-block;
    vertical-align: middle;    
}
.pager__item:hover {
    border-radius: 50%;
    background: #FF5500;
}
.pager__item--active .pager__link {
    background: #353538;
}
.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.about::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url(./img/operator.png) center center / cover no-repeat;
}

.about__desc {
    display: inline-block;
    vertical-align: top;
    background: #FFFFFF;
    width: 785px;
    height: 457px;
    padding: 74px 90px;
    color: #000;
    margin-left: -145px;
    margin-top: 95px;
    border-radius: 2px;
    /*margin-bottom: 80px;*/
}
.about__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 37px;
}
.about__desc-text {
    margin-bottom: 57px;
    width: 450px;
    height: 135px;
}
.about__desc-text p {
    margin-bottom: 20px;
}
.about__desc-text p:last-child {
    margin-bottom: 0;
}

.btn {
    border: 1px solid #FF3D00;
    padding: 18px 40px;
    margin-left: -15px;
}

.footer {
    height: 142px;
    position: relative;
}

.menu__f {
    position: absolute;
    top: 30px;
    left: 324px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}
.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.socials__item:last-child {
    margin-right: 0px;
}
.socials {
    position: absolute;
    top: 25px;
    right: 261px;
}

.socials__item--icon--telegram .socials__link {
    background-image: url(./img/telega.png);
}
.socials__item--icon--vk .socials__link {
    background-image: url(./img/vk.png);
}
.socials__item--icon--fb .socials__link {
    background-image: url(./img/face.png);
}
.socials__item--icon--insta .socials__link {
    background-image: url(./img/insta.png);
}

.footer-container__content {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 80px;
    
}
