.about::before {
    display: block;
    content: "";    
    width: 490px;
    height: 505px;
    background: url(/lesson2/img/operator.png) center center / cover no-repeat;
}

.about__desc {    
    background: #FFFFFF;
    padding: 70px 90px;
    max-width: 785px;
    margin-left: -145px;
    margin-top: 99px;
    min-height: 457px;
    border-radius: 2px;
    color: #000;
}

.about__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 37px;
}

.about__desc-text {
    margin-bottom: 42px;
    max-width: 605px;
    min-height: 135px;
    line-height: 27px;
}
