.partners {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 85px;    
}

.partners__item {
    margin-left: 86px; 
    justify-content: flex-start;   
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0px;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 220px;
    height: 117px;
    align-items: center;
    filter: grayscale(100%);
    justify-content: center;
}

.partners__link:hover {
    filter: grayscale(0);
}

