.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    align-items: flex-end;
}

.menu__f {
    position: absolute;    
    left: 324px;
}



.inner-footer__container {
    padding: 45px 0;
}

.inner-footer {
    margin-top: auto;
}