.contacts {
    position: relative;
    cursor: pointer;
}

.dropdown {
    opacity: 0;
    left: -9000px;
}

.dropdown:hover {
    left: 0px;
    opacity: .8;
    transition: opacity .6s;
}


.triangle {
    position: absolute;
    margin-left: 131px;
    margin-top: -12px;  
    border: 10px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color: #CDD1D2;
}


.dropdown__menu {
    position: absolute;
    background: #CDD1D2;
    border: none;
    border-radius: 4px;
    width: 160px;
    padding: 13px 16px;
    margin-left: 25px;
    height: 65px;
    text-align: center;
    top: 100%;
    margin-top: 8px;
}

.dropdown__menu::before {
    content: "";
    display: block;
    height: 30px;
    left: 0px;
    right: 0px;
    top: -29px;
    position: absolute;
}

.dropdown__item1 {
    color: #1E1F20;
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
}

.dropdown__item2 {
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
}
