.contacts {
    text-align: right;
}

.contacts__desc {
    display: block;
    font-size: 10px;
}

.phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;    
}

.contacts__hours {
    display: block;
    font-size: 13px;
    text-decoration: underline; /* установили декоративное подчеркивание текста */
    color: #FF3D00;
}